<% include ../partials/header.ejs %>
<div class="row">
  <h1>Delete Account for <em><%=user.username%></em>?</h1>
  <hr>
  <div class="login"> 
    <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
      <div class="form-group">
          <p>Warning! If you delete your account you will no longer be able to edit/delete the campgrounds/comments that you have posted</p>
      </div>
      <div>
          <input type="submit" class="btn btn-xs btn-danger form-control" value="Delete Account">
      </div>
      
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>      
</div>

<% include ../partials/footer.ejs %>