<%include ../partials/header.ejs%>

<div class="row">
    <h1>Sign Up</h1>
    <div class="login">
        <form action="/register" method="POST">
          <div class="form-group">
              <input type="text" placeholder="username" name="username" class="form-control">  
          </div>
          <div class="form-group">
              <input type="password" placeholder="password" name="password" class="form-control">
          </div>
          <div class="form-group">
              <input type="text" placeholder="first name" name="firstName" class="form-control">  
          </div>
          <div class="form-group">
              <input type="text" placeholder="last name" name="lastName" class="form-control">  
          </div>
          <div class="form-group">
              <input type="email" placeholder="email" name="email" class="form-control">  
          </div>         
          <div class="form-group">
              <input type="text" placeholder="avatar url" name="avatar" class="form-control">  
          </div>
          <div class="form-group">
              <label for="aboutAuthor">About the Author</label>
              <textarea type="text" placeholder="About the Author" name="aboutAuthor" class="form-control" cols="25" rows="5">  
              </textarea>
         </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            <!-- <input type="submit" value="login" class="form-control"> -->
          </div>
        </form>
        <a href="/campgrounds">Go Back</a>
        </div>
  </div>


<%include ../partials/footer.ejs%>