<%include ../partials/header.ejs%>

<h1>Sign up form</h1>
<form action="/register" method="POST">
  <input type="text" placeholder="username" name="username"> 
  <input type="email" placeholder="email" name="email">
  <input type="text" placeholder="password" name="password">
  <button>Sign Up</button>
</form>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>


<%include ../partials/footer.ejs%>